<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianxia.app.healthworld"
    android:versionCode="3"
    android:versionName="V1.0_Beta" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选的权限 -->
    <!-- 启用错误分析功能，须添加该权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 可选的权限 -->
    <!-- 使用GPS获取用户精确定位信息 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->

    <application
        android:name=".AppApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="3c1e3f5fd5" />
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tianxia.lib.baseworld.main.MainTabFrame"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <receiver android:name="com.tianxia.lib.baseworld.BaseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.tianxia.lib.baseworld.upgrade.AppUpgradeService" >
        </service>

        <activity
            android:name=".home.HomeTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.HomeDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.HomeTaobaoWebview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".collect.CollectTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".forum.ForumTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingsTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingLoginWebview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingsFeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tianxia.lib.baseworld.activity.SettingAboutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>