<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianxia.app.healthworld"
    android:versionCode="3"
    android:versionName="V1.0_Beta" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".AppApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.tianxia.lib.baseworld.main.MainTabFrame"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tianxia.lib.baseworld.BaseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.tianxia.lib.baseworld.upgrade.AppUpgradeService" >
        </service>

        <activity
            android:name=".home.HomeTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.HomeDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.HomeTaobaoWebview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".collect.CollectTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".forum.ForumTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingLoginWebview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingFeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tianxia.lib.baseworld.activity.SettingAboutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>